.about {
    position: fixed;
    top: 138px;
    left: 12px;
    display: flex;
    p {
      font-family: 'Didact Gothic', sans-serif;
      font-weight: 500;
      color: #764B7F;
    }
}

@media only screen and (max-device-width: 667px) 
    and (-webkit-device-pixel-ratio: 2) {
  .about {
    top: 172px;
  }
}