.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    background-color: pink;
    height: 125px;
    a:visited {
      text-decoration: none;
      color: white;
    }
    a {
      text-decoration: none;
    }
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      text-shadow: 2px 1px 1px red;
      font-size: 48px;
      margin: 15px 0 0 15px;
      color: white;
    }
    div {
      display: flex;
        ul {
          display: flex;
          margin: 11px 14px 0 0;
          li {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            color: white;
            text-shadow: 1px 1px 1px red; 
            padding: 0px 0px 0px 15px;
          a:hover {
            text-decoration: underline;
          }
          a {
            color: white;
            text-decoration: none;
            }
          }
      }
    }
}

.login-form-container {
    position: relative;
    float: right;
    // display: flex;
    top: 31px;
    margin: 2px 14px 0 0px;
    .login-input {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      label {
        padding: 8px 0 0 0;
        input.login-button {
          width: 57px;
        }
      }
    }
}

.login-errors {
    font-size: 10px;
    color: red;
    position: relative;
    right: 64px;
    top: -19px;
    text-align: right;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: pink;
    height: 160px;
    div {
      position: fixed;
      ul {
        display: flex;
        margin: 73px 0 39px 2px;
      }
    }
  }

  .login-form-container {
    float: left;
    top: 92px;
    right: -17px;
    .login-input {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      label {
        padding: 8px 11px 0 0;
      }
    } 
  }

  .login-errors {
    font-size: 10px;
    color: red;
    position: relative;
    right: -1px;
    top: 8px;
    text-align: left;
}
}