.header {
    display: flex;
    transition: margin 0.25s ease-out;
    background-color: rgba(255,255,255,0.96);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
    flex-direction: column;
    padding: 0 0 0 11px;
    height: 125px;
    a:visited {
      text-decoration: none;
      color: #764B7F;
    }
    a {
      text-decoration: none;
    }
    h1 {
      font-family: 'Didact Gothic', sans-serif;
      font-feature-settings: "liga" 0;
      color: #764B7F;
    }
    div {
      display: flex;
      padding: 4px 0px 0px 0px;
      p {
        font-family: 'Didact Gothic', sans-serif;
        font-weight: 500;
        color: #764B7F;
        font-size: 13px;
      }
      
    }
}

@media (max-width: 375px){
  .header {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    padding: 4px 0 5px 8px;
    h1 {
      font-weight: 900;
    }
    div {
      padding: 4px 0 0 0;
    }
  }
}