.header {
    display: flex;
    transition: margin 0.25s ease-out;
    background-color: rgba(255,255,255,0.96);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
    a:visited {
      text-decoration: none;
      color: inherit;
    }
    a {
      text-decoration: none;
    }
    h1 {
      font-family: 'Didact Gothic', sans-serif;
      font-feature-settings: "liga" 0;
      letter-spacing: 1px;
      color: #764B7F;
    }
    div {
      display: flex;
        .logout-greeting {
          flex-direction: column;
          align-items: flex-end;
        }
        ul {
          display: flex;
          li {
            font-family: 'Didact Gothic', sans-serif;
            font-weight: 500;
            color: #764B7F;
          a:hover {
            text-decoration: underline;
          }
          a {
            color: #764B7F;
            text-decoration: none;
            }
          }
          button {
            font-family: 'Didact Gothic', sans-serif;
            font-weight: 900;
          }
      }
    }
}

@media (max-width: 375px){
  .header {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    padding: 4px 0 5px 8px;
    h1 {
    }
    div {
      padding: 4px 0 0 0;
      ul {
        display: flex;
        li {
          padding: 0 18px 0 0;
        }
      }
    }
  }
}