// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {

    .login-input {

      label {

        input.login-button {
          font-family: 'Didact Gothic', sans-serif;
          font-weight: 900;
        }
      }
    }
}

.login-errors {
    font-size: 10px;
    color: red;
    position: relative;
    right: 64px;
    top: -19px;
    text-align: right;
}

@media (max-width: 375px) {
  .login-form-container {
    .login-form {
      display: flex;
      flex-direction: column;
    }
    .login-input {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      label {
      }
    } 
  }

  .login-errors {
    font-size: 10px;
    color: red;
    position: relative;
    text-align: left;
  }
}

