// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {

    .login-input {

      label {

        input.login-button {
          font-family: 'Didact Gothic', sans-serif;
          font-weight: 900;
        }
      }
    }
}

.login-errors {
    font-size: 10px;
    color: red;
}

@media (max-width: 375px) {
  .login-form-container {
    .login-form-box {
      display: flex;
      flex-direction: column;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      div {
        padding: 6px 0 0 0;
      }
    }
    .login-input {
      display: flex;
      label {
        padding: 0 5px 0 0px;
      }
    } 
  }

  .login-errors {
    font-size: 10px;
    color: red;
    display: flex;
    height: 13px;
    p {
      padding: 0px 8px 0 0px;
    }
  }
}

